:root {
  --border-default: #E9EDEF;
  --secondary-border: #F7F7F7;
  --primary-background: #FFFFFF;
  --secondary-background: #F7F7F7;
  --text-color-primary: #637A86;
  --text-color-secondary: #232B2F;
  --text-color-black: #232B2F;
  --color-deep-blue: #0445A3;
  --color-light-blue: #E6EEF8;
  --color-blue: #0C48A1;
}