@import 'src/styles/config/mixins';
@import 'src/styles/config/breakpoints';

.container {
  background: var(--primary-background);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  min-height: 100vh;
  height: 100%;

  @include mqMax($lg) {
    display: none;
  }
}